/*body style*/
<style>

body {
  padding-bottom: 2rem;
}

div.tooltip {
  position: absolute;
  z-index: 5;
  text-align: left;
  padding: 5px 5px;
  color: #fff;
  font: 14px;
  background: rgba(196, 90, 107, 0.9);
  border: 1px solid #bbb;
  border-radius: 8px;
  pointer-events: none;
  font-family: 'Source Sans Pro';
}

.icon {
  margin-top: 30px;
  width: 30px;
}

.legend {
  width: 200px;
}

.sw-chart {
  width: 600px;
}

.wo-chart {
  width: 1000px;
}

p.text {
  color: black;
  margin-top: 0px;
  font-size: 1rem;
}

p.title {
  /* font-family: 'Lato Black'; */
  font-size: 1.2rem;
  /* margin-bottom: 16px; */
  font-weight: 600;
}

p.annotation {
  font-size: 0.8rem;
}

h3.title {
  /* font-family: 'Lato Black'; */
  font-weight: 700;
  font-size: 2rem;
  /* margin-bottom: 0.8em; */
  color: #1a1a1a;
  /* margin-top: 20px; */
  line-height: 1.2em;
}

h1 {
  margin-bottom: 2rem;
}

/* text {
  font-size: 0.75rem;
} */

.bg-label {
  font-size: 12rem;
  opacity: 0.1;
  color: #d3d3d3;
}

</style>